@import '../../variables.scss';

:host {
    flex: 1;
    .passage-content {
        display: flex;
        flex-direction: column;
        height: 100%;

        .passage-info {
            flex: 1;
            h3 {margin: 0;}
            hr {border-color: $Base00;}

            .reference {
                margin: 0;
            }

            .text {
                flex: 1;
            }
        }
        .passage-review {
            display: flex;
            justify-content: center;

            button {
                color: $Violet;
                background: none;
                border: 0;
            }
        }
    }
}
